- presentation_id = event.talks
- presentation = data.oedo06.presentations[presentation_id]

%ul.schedule-table__speakers
  - presentation.speakers.each do |speaker|
    - speaker = data.oedo06.speakers.keynotes[speaker.id] || data.oedo06.speakers.invited[speaker.id] || data.oedo06.speakers.full_time_ruby_committers[speaker.id] || data.oedo06.speakers.ninja_talks[speaker.id]
    %li.schedule-table-speaker
      .schedule-table-speaker__avatar
        = image_tag(speaker.avatar_url)
      .schedule-table-speaker__data
        .schedule-table-speaker__presentation-title
          - if speaker.presentation_title.present?
            = speaker.presentation_title
          - else
            = speaker['name']
        .schedule-table-speaker__names
          - if speaker.presentation_title.present?
            %span.schedule-table-speaker__name
              = speaker['name']
          %span.schedule-table-speaker__id
            = "@#{speaker['id']}"
      - if speaker.slide_url.present?
        = link_to speaker.slide_url, class: "schedule-table-speaker__slide", target: "_blank" do
          スライド
