.schedule-table
  - data.oedo06.schedule.events.each do |event|
    .schedule-table__item{ class: "#{'is-break' if event.type == 'break'}" }
      .schedule-table__time
        = event.begin
        = '-'
        = event.end
      .schedule-table__td
        .schedule-table__content
          .schedule-table__name
            = event.name
          - if event.talks.present?
            = partial 'partials/presentation', locals: { event: event }
