.speaker
  .speaker__avatar
    = image_tag(speaker.avatar_url, alt: speaker.name, class: 'speaker__avatar-image')
  .speaker__text-data
    .speaker__name
      = speaker.name
    %ul.speaker-channels
      - if speaker.github_id.present?
        %li.speaker-channels__item
          = link_to "https://github.com/#{speaker.github_id}", target: '_blank', class: 'speaker-channels__item-link' do
            %i.fa.fa-github-alt
      - if speaker.twitter_id.present?
        %li.speaker-channels__item
          = link_to "https://twitter.com/#{speaker.twitter_id}", target: '_blank', class: 'speaker-channels__item-link' do
            %i.fa.fa-twitter
      %li.speaker-channels__item.is-id
        @#{speaker.id}
