.speaker-lg
  .speaker-lg__avatar
    = image_tag(speaker.avatar_url, alt: speaker.name, class: 'speaker-lg__avatar-image')
  .speaker-lg__text-data
    .speaker-lg__name
      = speaker.name
    %ul.speaker-lg-channels
      - if speaker.github_id.present?
        %li.speaker-lg-channels__item
          = link_to "https://github.com/#{speaker.github_id}", target: '_blank', class: 'speaker-lg-channels__item-link' do
            %i.fa.fa-github-alt
      - if speaker.twitter_id.present?
        %li.speaker-lg-channels__item
          = link_to "https://twitter.com/#{speaker.twitter_id}", target: '_blank', class: 'speaker-lg-channels__item-link' do
            %i.fa.fa-twitter
      %li.speaker-lg-channels__item.is-id
        @#{speaker.id}
