.sponsor{id: sponsor.id}
  .sponsor__logo
    = link_to image_tag("sponsors/#{sponsor.id}.png", class: 'sponsor__logo-image'), sponsor.url, target: "_blank"
  .sponsor-list__overview
    - if sponsor.role.present?
      .sponsor__role
        = sponsor.role
    %h3.sponsor__name
      = link_to sponsor.name, sponsor.url, class: "sponsor__name-link", target: "_blank"
    .sponsor__url
      = link_to sponsor.url, sponsor.url, class: "sponsor__url-link", target: "_blank"
