%h1.page__frist-title
  Venue
.page-wrapper
  .venue-container__content
    %h2.venue-container__place at Kyoto International Conference Center, Kyoto, Japan
    =image_tag('place_image.jpg', class: 'venue-container__image')
    %p.venue-container__image-text.jp 画像提供：国立京都国際会館
  .venue-container__content
    %h3.page__sub-title Address
    %p.venue-container__address-info
      Takaragaike, Sakyo-ku, Kyoto 606-0001 Japan
      %span.venue-container__map›
      = link_to 'View in Google Map', 'https://goo.gl/maps/VXBqKDRHJBm', class: 'venue-container__map-link'
  .venue-container__content
    %h3.page__sub-title Access
    %p.venue-container__access-info
      About 75 minutes by
      = link_to 'Airport Shuttle Train “Haruka” from Kansai International Airport to Kyoto Station.', 'https://www.westjr.co.jp/global/en/travel/shopping/access/train.html', class: 'venue-container__access-link'
      %br
      About 55 minutes by
      = link_to 'Limousine bus from Osaka (Itami) Airport to Kyoto Station.', 'http://www.okkbus.co.jp/en/index.html', class: 'venue-container__access-link'
      %br
      2 hours 15 minutes by Shinkansen (Bullet Train) from Tokyo Station to Kyoto Station.
      %br
      %span.venue-container__access›
      = link_to 'Access | ICC Kyoto', 'http://www.icckyoto.or.jp/en/access/index.html', class: 'venue-container__access-link'
      %span.venue-container__access-pdf›
      = link_to 'pdf', 'http://www.icckyoto.or.jp/en/access/download/access_english.pdf', class: 'venue-container__access-pdf-link'
      %span.venue-container__access-ticket›
      = link_to 'Ticket Deals and Passes', 'https://www.westjr.co.jp/global/en/ticket/icoca-haruka/', class: 'venue-container__access-ticket-link'
