- @pageId = 'home'

-# main-visual
= partial('partials/main_visual')

-# speakers
= partial('partials/speakers')

-# time_table
= partial('partials/time_table')

-# venue
= partial('partials/venue')

-# party
= partial('partials/party')

-# team
-# = partial('partials/team')

-# sponsors
= partial('partials/sponsors')

-# past-kaigis
= partial('partials/past_kaigis')
