- @pageId = 'home'

-# main-visual
= partial('partials/main_visual')

-# speakers
= partial('partials/speakers')

-# time_table
-#
  = partial('partials/time_table')

-# venue
= partial('partials/venue')

-# team
-# = partial('partials/team')

-# past-kaigis
= partial('partials/past_kaigis')
